.item {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;

    .active {
        color: green;
        text-decoration: underline;
        // color: #9054ff;
    }

}