.navbar {
    display: flex;
    background-color: #9054ff29;

    .logo {
        color: transparent;
        font-family: "Inter-SemiBold", Helvetica;
        font-size: 20px;
        font-weight: 400;
        left: 21px;
        letter-spacing: 0;
        line-height: normal;
        top: 12px;
        white-space: nowrap;

        .textWrapper {
            color: #ffffff;
            font-weight: 600;
        }
    
        .span {
            color: #9054ff;
            font-family: "Inter-Black", Helvetica;
            font-weight: 900;
        }
    }

    .sectionMenu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
}