input.checkbox {
    border-radius: 3px;
    border: 1px solid var(--main-purple);
    background: rgba(144, 84, 255, 0.11);
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    outline: none;
    cursor: pointer;
}