.box {
    height: 699px;
    position: relative;
    width: 962px;
  }
  
  .box .group {
    height: 699px;
    left: 0;
    position: fixed;
    top: 0;
    width: 984px;
  }
  
  .box .overlap-group {
    background: linear-gradient(180deg, rgba(144, 84, 255, 0.6) 0%, rgba(144, 84, 255, 0) 100%);
    border-radius: 22px;
    height: 621px;
    left: 0;
    position: absolute;
    top: 78px;
    width: 962px;
  }
  
  .box .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 58px;
    white-space: nowrap;
  }
  
  .box .div {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 169px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 280px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 391px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 502px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 205px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.16;
    position: absolute;
    top: 58px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 200px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.16;
    position: absolute;
    top: 169px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 214px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.16;
    position: absolute;
    top: 283px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 271px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.16;
    position: absolute;
    top: 391px;
    white-space: nowrap;
  }
  
  .box .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 265px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.16;
    position: absolute;
    top: 502px;
    white-space: nowrap;
  }
  
  .box .eye {
    height: 30px;
    left: 451px;
    position: absolute;
    top: 508px;
    width: 30px;
  }
  
  .box .edit {
    height: 28px;
    left: 380px;
    position: absolute;
    top: 62px;
    width: 28px;
  }
  
  .box .img {
    height: 28px;
    left: 563px;
    position: absolute;
    top: 173px;
    width: 28px;
  }
  
  .box .edit-2 {
    height: 28px;
    left: 443px;
    position: absolute;
    top: 287px;
    width: 28px;
  }
  
  .box .edit-3 {
    height: 28px;
    left: 475px;
    position: absolute;
    top: 395px;
    width: 28px;
  }
  
  .box .account-header {
    color: #9054ff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 123.6px #9054ff;
    top: 0;
  }
  